<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            @*Quản lý đơn hàng*@
            <li class="nav-item">
                <a class="dropdown-toggle" asp-area="Ship" asp-controller="Home" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-appstore"></i>
                    </span>
                    <span class="title">QL giao hàng</span>
                </a>
            </li>

        </ul>
    </div>
</div>