@model WebBanHang.Models.SanPham

@{
    ViewData["Title"] = "Thêm mới";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <h2 class="header-title">Quản lý sản phẩm</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a asp-area="Admin" asp-controller="SanPhams" asp-action="Index" class="breadcrumb-item">Sản phẩm</a>
            <span class="breadcrumb-item active">Thêm sản phẩm</span>
        </nav>
    </div>
</div>
<hr />
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Tạo mới sản phẩm</h4>
        <form asp-controller="SanPhams" asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Tên</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" asp-for="TenSp" placeholder="Tên sản phẩm">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Giá bán</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" asp-for="GiaBan" placeholder="Giá bán">
                </div>

                <label class="col-sm-1 col-form-label">Giá giảm</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" asp-for="GiaGiam" placeholder="Giá giảm">
                </div>
            </div>
            <div class="form-group row">
                
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Số lượng</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" asp-for="SoLuongCo" placeholder="Số lượng">
                </div>
            </div>
            @*Ảnh*@
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Ảnh</label>
                <div class="col-sm-5">
                    <input type="file" name="fAnh" class="form-control" asp-for="Anh">
                    <span asp-validation-for="Anh" class="text-danger"></span>
                </div>
            </div>
            @*Ảnh*@
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Công suất</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" asp-for="CongSuat" placeholder="Công suất">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Khối lượng</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" asp-for="KhoiLuong" placeholder="Khối lượng">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Bảo hành (tháng)</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" asp-for="BaoHanh" placeholder="Bảo hành">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Mô tả</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" asp-for="MoTa" placeholder="Mô tả">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Loại sản phẩm</label>
                <div class="col-sm-5">
                    <select class="custom-select" asp-for="MaLoai" asp-items="ViewBag.LoaiSP">
                        <option value="" disabled selected>-Chọn loại sp-</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Thương hiệu</label>
                <div class="col-sm-5">
                    <select class="custom-select" asp-for="MaTh" asp-items="ViewBag.ThuongHieu">
                        <option value="" disabled selected>-Chọn thương hiệu-</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-5">
                    <button type="submit" class="btn btn-primary">Thêm</button>
                </div>
            </div>
        </form>
    </div>
</div>

<h1>Create</h1>

<h4>SanPham</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenSp" class="control-label"></label>
                <input asp-for="TenSp" class="form-control" />
                <span asp-validation-for="TenSp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaBan" class="control-label"></label>
                <input asp-for="GiaBan" class="form-control" />
                <span asp-validation-for="GiaBan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaGiam" class="control-label"></label>
                <input asp-for="GiaGiam" class="form-control" />
                <span asp-validation-for="GiaGiam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuongCo" class="control-label"></label>
                <input asp-for="SoLuongCo" class="form-control" />
                <span asp-validation-for="SoLuongCo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Anh" class="control-label"></label>
                <input asp-for="Anh" class="form-control" />
                <span asp-validation-for="Anh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CongSuat" class="control-label"></label>
                <input asp-for="CongSuat" class="form-control" />
                <span asp-validation-for="CongSuat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KhoiLuong" class="control-label"></label>
                <input asp-for="KhoiLuong" class="form-control" />
                <span asp-validation-for="KhoiLuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BaoHanh" class="control-label"></label>
                <input asp-for="BaoHanh" class="form-control" />
                <span asp-validation-for="BaoHanh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaLoai" class="control-label"></label>
                <select asp-for="MaLoai" class ="form-control" asp-items="ViewBag.LoaiSP"></select>
            </div>
            <div class="form-group">
                <label asp-for="MaTh" class="control-label"></label>
                <select asp-for="MaTh" class ="form-control" asp-items="ViewBag.ThuongHieu"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

