@model WebBanHang.ModelViews.HomeViewVM
@{
    ViewData["Title"] = "Yoko";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SanPham> allProduct = ViewBag.AllProducts;
}

<!-- Begin Slider Area -->
<div class="slider-area">

    <!-- Main Slider -->
    <div class="swiper-container main-slider-2 swiper-arrow with-bg_white">
        <div class="swiper-wrapper">
            <img src="~/images/banners/banner1.jpg" class="swiper-slide animation-style-01"/>

            <div class="swiper-slide animation-style-01">
                <img src="~/images/banners/banner1.jpg" class="slide-inner bg-height" />
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination with-bg d-md-none"></div>

        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

</div>
<!-- Slider Area End Here -->

<!-- Begin Shipping Area -->
<div class="shipping-area section-space-top-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="shipping-item">
                    <div class="shipping-img">
                        <img height="70px" src="~/images/banners/icon1.jpg" alt="Shipping Icon">
                    </div>
                    <div class="shipping-content">
                        <h5 class="title">Giao hàng tận nhà</h5>
                        <p class="short-desc mb-0">Miễn phí ship đơn từ 999k</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pt-6 pt-md-0">
                <div class="shipping-item">
                    <div class="shipping-img">
                        <img height="70px" src="~/images/banners/icon1.jpg" alt="Shipping Icon">
                    </div>
                    <div class="shipping-content">
                        <h5 class="title">Giá quá tốt</h5>
                        <p class="short-desc mb-0">Mức giá cực kỳ ưu đãi</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pt-6 pt-lg-0">
                <div class="shipping-item">
                    <div class="shipping-img">
                        <img height="70px" src="~/images/banners/icon1.jpg" alt="Shipping Icon">
                    </div>
                    <div class="shipping-content">
                        <h5 class="title">Hàng chính hãng</h5>
                        <p class="short-desc mb-0">Cam kết hàng 100% chính hãng</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Shipping Area End Here -->

<!-- Begin Product Area -->
<div class="product-area section-space-top-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="nav product-tab-nav pb-10" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="active" id="all-items-tab" data-bs-toggle="tab" href="#all-items" role="tab" aria-controls="all-items" aria-selected="true">
                            <div class="product-tab-icon">
                                <img height="70px" src="~/images/banners/icon3.jpg" alt="Product Icon" />
                            </div>
                            Tất cả
                        </a>
                    </li>
                    @foreach(var item in Model.Products)
                    {
                        <li class="nav-item" role="presentation">
                            <a id="fresh-fruits-tab" data-bs-toggle="tab" href="#m-@item.category.MaLoai" role="tab" aria-controls="@item.category.MaLoai" aria-selected="false">
                            <div class="product-tab-icon">
                                    <img height="70px" src="~/images/banners/icon3.jpg" alt="Product Icon" />
                            </div>
                            @item.category.TenLoai
                        </a>
                    </li>
                    }
                </ul>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="all-items" role="tabpanel" aria-labelledby="all-items-tab">
                        @await Html.PartialAsync("_ListProductPartialView.cshtml", allProduct)
                    </div>
                    @foreach(var item in Model.Products)
                    {
                        <div class="tab-pane fade" id="m-@item.category.MaLoai" role="tabpanel" aria-labelledby="@item.category.MaLoai-tab">
                            @await Html.PartialAsync("_ListProductPartialView.cshtml", item.lsProducts)
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product Area End Here -->

<!-- Begin Blog Area -->
<div class="blog-area section-space-y-axis-100">
</div>
<!-- Blog Area End Here -->
