
@{
    ViewData["Title"] = "Hướng dẫn mua hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="breadcrumb-area breadcrumb-height" style="height:200px; background-image: url('~/mainassets/images/breadcrumb/bg/1-1-1920x373.jpg')" data-bg-image="~/mainassets/images/breadcrumb/bg/1-1-1920x373.jpg">
    <div class="container h-100">
        <div class="row h-100">
            
            <div class="col-lg-12">
                <div class="breadcrumb-item">
                    <h2 class="breadcrumb-heading">Hướng dẫn mua hàng</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="blog-area section-space-y-axis-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-detail-item">
                    <div class="blog-img">
                        <img class="img-full" src="~/mainassets/images/blog/large-size/1-1-1170x672.jpg" alt="Blog Image">
                    </div>
                    <div class="blog-content text-start pb-0">

                        <h5 class="title mb-4">
                            <a href="blog-detail-left-sidebar.html">Lorem ipsum dolor sit amet consecte</a>
                        </h5>
                        <p class="short-desc mb-4 mb-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea comm consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                        <blockquote class="pt-6 pb-5 mb-5">
                            <div class="inner-content">
                                <p class="mb-0">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> labore
                                    <span class="user-name ms-5 mb-0">Jont utdo</span>
                                </p>
                            </div>
                        </blockquote>
                        <p class="short-desc mb-4 mb-9">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea comm consequat. Duis aute irure dolor in reprehenderit in</p>
                        <div class="blog-banner pb-10">
                            <div class="single-content pt-4 pt-md-0">
                                <p class="short-desc mb-4 mb-5">Lorem ipsum dolor sit amet, consectetu adipisicing elit, sed do eiusmod tempor incid ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamc laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehend in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culju</p>
                                <p class="short-desc mb-4 mb-5">Expedita molestias optio earum autem repudiandae corrupti molestiae soluta voluptate magnam! Dolorem ratione perferendis necessitatibus, quaerat minus reiciendis debitis culpa, blanditiis in ipsum, sapiente voluptatibus? Neque illum doloremque laborum laboriosam quos et quas autem consequuntur. Praesentium nesciunt deleniti consequatur sequi.</p>
                                <p class="short-desc mb-4 mb-0">Deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantiumojd doloremque laudantium, totam rem aperiam, eaque ipsafe quae ab illo inventore veritatis et quasi architecto beataerf vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur </p>
                            </div>
                            <div class="single-img">
                                <img class="img-full" src="~/mainassets/images/blog/banner/1-1-370x400.jpg" alt="Blog Banner">
                            </div>
                        </div>
                        <p class="short-desc mb-4 mb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore ma aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                        
                        <div class="tag-wtih-social">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

