
@{
    ViewData["Title"] = "Hướng dẫn mua hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-area breadcrumb-height" style="height:150px;background-color:#E3F0E1">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                    <h2 class="breadcrumb-heading" style="font-family:Verdana">Hướng dẫn mua hàng</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="blog-area section-space-y-axis-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-detail-item">
                    <div class="blog-content text-start pb-0">
                        <h5 class="title mb-4">
                            <a >Bước 1: Tìm sản phẩm cần mua</a>
                        </h5>
                        <p class="short-desc">+ Sử dụng ô tìm kiếm phía trên, gõ tên sản phẩm muốn mua</p>
                        <img src="~/images/banners/b1.png" />
                        <p class="short-desc">+ Sử dụng menu sản phẩm của website: chọn loại sản phẩm muốn mua</p>
                        <p class="short-desc">+ Sau đó tuỳ vào nhu cầu mua, bạn có thể lọc các sản phẩm theo các tiêu chí về giá giảm dần, giá tăng dần</p>
                    </div>
                    <div class="blog-content text-start pb-0">
                        <h5 class="title mb-4">
                            <a >Bước 2: Thêm sản phẩm vào giỏ</a>
                        </h5>
                        <p class="short-desc">+ Sau khi chọn được sản phẩm ưng ý muốn mua, chọn nút THÊM VÀO GIỎ</p>
                        <p class="short-desc">+ Thay đổi số lượng sản phẩm và tiến hành đặt hàng</p>
                        <img src="~/images/banners/b2.png" />
                    </div>
                    <div class="blog-content text-start pb-0">
                        <h5 class="title mb-4">
                            <a>Bước 3: Đặt mua sản phẩm</a>
                        </h5>
                        <p class="short-desc">+ Điền đầy đủ các thông tin mua hàng</p>
                        <img src="~/images/banners/b3.png" />
                        <p class="short-desc">+ Sau khi đặt hàng thành công, Yoko sẽ liên hệ quý khách để xác nhận và hoàn tất thủ tục.</p>
                    </div>
                    <div class="blog-content text-start pb-0">
                        <p style="color:red">+ Lưu ý:</p>
                        <p class="short-desc">1. Chúng tôi chỉ chấp nhận những đơn đặt hàng khi cung cấp đủ thông tin chính xác về địa chỉ, số điện thoại. Sau khi bạn đặt hàng, chúng tôi sẽ liên lạc lại để kiểm tra thông tin.</p>
                        <p class="short-desc">2. Những rủi ro phát sinh trong quá trình vận chuyển (va đập, ẩm ướt, tai nạn...) có thể ảnh hưởng đến hàng hóa, vì thế xin Quý Khách vui lòng kiểm tra hàng hóa thật kỹ trước khi ký nhận.</p>
       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

