@model WebBanHang.Models.ThuongHieu

@{
    ViewData["Title"] = "Tạo mới";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <h2 class="header-title">Quản lý thương hiệu san phẩm</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a asp-area="Admin" asp-controller="ThuongHieus" asp-action="Index" class="breadcrumb-item">Thương hiệu</a>
            <span class="breadcrumb-item active">Tạo mới thương hiệu</span>
        </nav>
    </div>
</div>

<hr />
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Tạo mới thương hiệu</h4>
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Tên</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" asp-for="TenTh" placeholder="Tên">
                    <span asp-validation-for="TenTh" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Mô tả</label>
                <div class="col-sm-5">
                    <textarea rows="5" class="form-control" asp-for="MoTa" placeholder="Mô tả"></textarea>
                    <span asp-validation-for="MoTa" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-5">
                    <button type="submit" class="btn btn-primary">Thêm</button>
                </div>
            </div>
        </form>
    </div>
</div>

