<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            @*Dashboard*@
            <li class="nav-item">
                <a class="dropdown-toggle" asp-area="Admin" asp-controller="Home" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-home"></i>
                    </span>
                    <span class="title">Home</span>
                    
                </a>
            </li>
            @*Quản lý loại sản phẩm*@
            <li class="nav-item">
                <a class="dropdown-toggle" asp-area="Admin" asp-controller="LoaiSanPhams" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-appstore"></i>
                    </span>
                    <span class="title">QL loại sản phẩm</span>
                </a>
            </li>
            @*Quản lý thương hiệu*@
            <li class="nav-item">
                <a class="dropdown-toggle" asp-area="Admin" asp-controller="ThuongHieus" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-appstore"></i>
                    </span>
                    <span class="title">QL thương hiệu</span>
                </a>
            </li>

            @*Quản lý sản phẩm*@
            <li class="nav-item">
                <a class="dropdown-toggle" asp-area="Admin" asp-controller="SanPhams" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-appstore"></i>
                    </span>
                    <span class="title">QL sản phẩm</span>
                </a>
            </li>
            @*Quản lý đơn hàng*@
            <li class="nav-item">
                <a class="dropdown-toggle" asp-area="Admin" asp-controller="Home" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-appstore"></i>
                    </span>
                    <span class="title">QL đơn hàng</span>
                </a>
            </li>

            @*Quản lý khách hàng*@
            <li class="nav-item">
                <a class="dropdown-toggle" asp-area="Admin" asp-controller="KhachHangs" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-user"></i>
                    </span>
                    <span class="title">QL khách hàng</span>
                </a>
            </li>
            @*Quản lý shipper*@
            <li class="nav-item">
                <a class="dropdown-toggle" asp-area="Admin" asp-controller="Home" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-user"></i>
                    </span>
                    <span class="title">QL shipper</span>
                </a>
            </li>
            @*Quản lý khuyến mại*@
            <li class="nav-item">
                <a class="dropdown-toggle" asp-area="Admin" asp-controller="Home" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-gift"></i>
                    </span>
                    <span class="title">QL khuyến mại</span>
                </a>
            </li>
            @*Thống kê doanh số*@
            <li class="nav-item">
                <a class="dropdown-toggle" asp-area="Admin" asp-controller="Home" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-bar-chart"></i>
                    </span>
                    <span class="title">Thống kê doanh số</span>
                </a>
            </li>

        </ul>
    </div>
</div>